<div class="loading" ng-show="isLoading">
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
</div>
<section ng-hide="isLoading">
  <section class="header-section">
      <div class="container-fluid">
      <div class="row search-box">
      <div class="col-xs-12 col-md-4 pull pull-right">
      Search box placeholder
      </div>
    </div>
        <div class="row current-forecast">
          <div class="col-xs-11 col-md-4 col-xs-offset-1"> <!-- Set the columns so it displays 12 across on a phone, but 4/7 on tablets.   This helps control the responsive layout -->
            <h1 class="heading text-right pull-left">{{userLocation.geo.city}}, {{userLocation.geo.state}}<br/>{{userLocation.geo.country}}</h1>
          </div>
          <div class="col-xs-12 col-md-7 current-forecast pull-right">
          <h4>Current Forecast as of {{forecast.currently.time * 1000 | date:'medium'}}</h4>
          <div class="col-xs-12 col-md-3 col-lg-2">
          <skycon icon="forecast.currently.icon" color="iconDefaults.color" size="iconDefaults.size" class="weather-icon"></skycon>
          </div>
          <div class="col-xs-12 col-md-9 col-lg-10 pull-left">
          <p class="current-forecast-summary">{{forecast.currently.summary}}</p>
          <ul class="current-forecast-details">
          <current-forecast-item title="Temperature" text="{{forecast.currently.temperature | number: 0}}&deg;"></current-forecast-item>
          <current-forecast-item title="Chance of Precipitation" text="{{forecast.currently.precipProbability | number}}%"></current-forecast-item>
          <current-forecast-item title="Wind" text="{{getWindDirection(forecast.currently.windBearing)}} {{forecast.currently.windSpeed | number:0}} mph"></current-forecast-item>
          <current-forecast-item title="Visibility" text="{{forecast.currently.visibility | number:0}}%"></current-forecast-item> <!-- for better code resuability, let's use a component. -->
          </ul>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="body-section">
      <div class="container-fluid">
        <div class="row">
        <div class="col-xs-11 col-md-4 col-xs-offset-1">
          <h1 class="sub-heading text-righ pull-left">5 Day Forecast</h1>
          </div>
          <div class="col-xs-12 col-md-7 current-forecast pull-right">
          <h1 class="weekly-forecast-summary">{{forecast.daily.summary}}</h1>
          </div>
                </div>
          <div class="row">
          <div class="col-xs-11 col-xs-offset-1 weekly-forecast-details">
          <div ng-repeat="day in forecast.daily.data | limitTo: 5">
          <weekly-forecast-item icon="iconDefaults" data="day"></weekly-forecast-item>
          </div>
          </div>
        </div>
      </div>
    </section>
  </section>
