.current-forecast-details {
    display: flex;
    width: 95%;
    margin: 10px;
    align-content: space-between;
    justify-content: space-between;
    padding: 0;

    li {
        //might as well take advantage of sass nesting.
        font-size: 1.3rem;
        display: block;
        flex: 0 1 auto;
        /* Default */
        text-align: center;
    }
}

.current-forecast-summary {
    //I do my best to name classes how I would say it out loud.  Though an argument could be made of putting the resource/object first.  ie: forecast-current-summary;
    font-size: 5rem;
}

.current-forecast-detail-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.current-forecast-detail-text {
    font-size: 2.2rem;
}
