.current-forecast-details {
    display: flex;
    width: 70%;
    margin: 0;
    align-content: space-between;
    justify-content: space-between;
    padding: 0;

     li { //might as well take advantage of sass nesting.
    font-size: 1.3rem;
    display: block;
    flex: 0 1 auto;
    /* Default */
    text-align: right;
}
}

.weekly-forecast-details {
    width: 100%;
    text-align: center;

     .item {
        text-align: center;
    height: 320px;
    padding: 10px;
    border:  #fff medium solid;
    border-radius: 5px;
    margin-right: 20px;
    @media only screen and (min-device-width : 768px) {
        margin-bottom: 15px;
}


}

}


