//structural building blocks not related to a specific section.

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: $font-stack-body;
    color: $primary-text;
    display: block;
    background: $black;
}

#wrapper {
    min-height: 100%;
}

.hero {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/bg_2.jpeg") no-repeat center center scroll;
    background-color: $black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: #fff 0.5px inset;
}

.header-section {
    padding-top: 15px;
}

.loading {
    padding-top: 100px;
    display: block;
}

.footer {
    height: 25px;
    margin-top: 25px;
    bottom: 0;
    width: 100%;
    display: block;

    a {
        color: #fff;
        font-size: 1.9rem;
    }
}
