//global typography styles.   Includes icons.

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    letter-spacing: 1px;
    font-family: $font-stack-headers;
}

p {
    margin: 0 0 25px;
    font-size: 1.2rem;
    line-height: 1.5;
}
@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 1.3rem;
        line-height: 1.6;
    }
}

.heading {
    font-size: 7rem; //use rem for better responsiveness.
}

.heading.ng-enter {
 -webkit-animation: zoomIn 2s;
 -ms-animation: zoomIn 2s;
 animation: zoomIn 2s;
}

.sub-heading {
    font-size: 4rem;
}
