//Define variables to help keep your styling dry.
$emerald: #2ecc71;
$silver: #ecf0f1;
$grey: #ccc;
$blue: #2980b9;
$midnight-blue: #2c3e50;
$black: #111111;
$red: #e74c3c;
$border: #fff;
$body: #fff;
$primary-text: #fff;
$secondary-text: $blue;
$gradient-one: #70e1f5;
$gradient-two: #ffd194;
$gradient-alt-one: #70e1f5;
$gradient-alt-two: #ffd194;
$font-stack-body: 'Open Sans', 'Raleway', 'Helvetica Neue', sans-serif;
$font-stack-headers: 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;